.container{
    width: 98vw;
    min-height: calc(100vh - 100px);
    margin-top: 10px;
    opacity: 1;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
    transition: all 0.2s ease 0s;
    border-radius: 3px;
    overflow: hidden;
}