.hypertrons-crx-container {
  margin-top: 24px !important;
  overflow: auto;
  /* height: 520px; */
}

.hypertrons-crx-border {
  background-color: var(--color-canvas-default);
  border: 1px solid var(--color-border-default);
  border-radius: 6px;
}

.hypertrons-crx-title {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 35px;
  background-color: var(--color-canvas-subtle);
  border: 1px solid var(--color-border-default);
  border-bottom: 0;
  border-radius: 6px;
}

.hypertrons-crx-title-extra {
  float: right;
  margin-right: 10px;
  text-align: right;
}

.verticalStackItemStyle {
  width: 50%;
  margin-left: 10px;
}

.verticalSeparatorStyle {
  margin-top: 25px;
  height: 332px;
}

.ms-Dialog-main {
  max-width: 100%;
  width: 60vw;
}
