:root {
  --borderColor-default: #d1d9e0;
  --bgColor-inset: var(--bgColor-muted);
  --bgColor-muted: #f6f8fa;
  --fgColor-default: #1f2328;
}
.hypertrons-crx-container {
  margin-top: 24px !important;
  overflow: auto;
  /* height: 520px; */
}

.hypertrons-crx-border {
  border: 1px solid var(--borderColor-default, var(--color-border-default));
  border-radius: 6px;
}

.hypertrons-crx-title {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 35px;
  background-color: var(--bgColor-inset, var(--color-canvas-subtle));
  border: 1px solid var(--borderColor-default, var(--color-border-default));
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.color-text-secondary {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 10px;
}
@media screen and (max-width: 1120px) {
  .graph-container {
    width: 100% !important;
  }
  .description-container {
    width: 100% !important;
  }
  .color-text-secondary {
    margin-left: 5px;
    margin-top: 5px;
  }
}

.hypertrons-crx-title-extra {
  float: right;
  margin-right: 10px;
  text-align: right;
}

@media screen and (max-width: 650px) {
  .developer-tab {
    float: none;
  }
}

.verticalStackItemStyle {
  width: 50%;
  margin-left: 10px;
}

.verticalSeparatorStyle {
  margin-top: 25px;
  height: 332px;
}

.ms-Dialog-main {
  max-width: 100%;
  width: 60vw;
}

.floating-window {
  opacity: 1 !important;
  padding: 12px 4px 8px 4px !important;
  border-radius: 6px !important;

  &.light {
    border: 1px solid #d0d7de !important;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15) !important;
    &.place-top::before,
    &.place-bottom:before {
      border-color: #d0d7de transparent !important;
    }
    &.place-right::before,
    &.place-left:before {
      border-color: transparent #d0d7de !important;
    }
  }
  &.dark {
    border: 1px solid #30363d !important;
    &.place-top::before,
    &.place-bottom:before {
      border-color: #30363d transparent !important;
    }
    &.place-right::before,
    &.place-left:before {
      border-color: transparent #30363d !important;
    }
  }
}

.chart-title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* repo-sidebar-labels */

.label-icon {
  width: 30px;
  height: auto;
}

.label-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.labels-text {
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  top: 0px;
}
.custom-tooltip .ant-tooltip-inner {
  background-color: #ffffff !important;
  color: #242a2e !important;
}

.custom-tooltip .ant-tooltip-arrow::before {
  background-color: #ffffff !important;
}
.Label,
.label {
  border: 0.0625rem solid #d1d9e0;
  border-radius: 624.9375rem;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 18px;
  padding: 0 0.375rem;
  white-space: nowrap;
}
.Label--secondary {
  border-color: #3a3e41;
  color: #393b3d;
}
.mr-1 {
  margin-right: (0.25rem, 4px) !important;
}

.v-align-middle {
  vertical-align: middle !important;
}
.unselectable {
  user-select: none;
}
.inline-label-container {
  display: inline-block;
  margin-left: 4px;
}

.flex-items-center {
  align-items: center !important;
}

@media (min-width: 768px) {
  .col-md-8 {
    width: 66.66666664% !important;
  }
}
.col-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .col-md-4 {
    width: 33.33333332% !important;
  }
}
