.hypertrons-crx-container {
  margin-top: 24px !important;
  overflow: auto;
  /* height: 520px; */
}

.hypertrons-crx-border {
  background-color: var(--color-canvas-default);
  border: 1px solid var(--color-border-default);
  border-radius: 6px;
}

.hypertrons-crx-title {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 35px;
  background-color: var(--color-canvas-subtle);
  border: 1px solid var(--color-border-default);
  border-bottom: 0;
  border-radius: 6px;
}

.hypertrons-crx-title-extra {
  float: right;
  margin-right: 10px;
  text-align: right;
}

.verticalStackItemStyle {
  width: 50%;
  margin-left: 10px;
}

.verticalSeparatorStyle {
  margin-top: 25px;
  height: 332px;
}

.ms-Dialog-main {
  max-width: 100%;
  width: 60vw;
}

.floating-window {
  opacity: 1 !important;
  padding: 16px 16px !important;
  border-radius: 6px !important;
  &.light {
    border: 1px solid #d0d7de !important;
    &.place-top::before,
    &.place-bottom:before {
      border-color: #d0d7de transparent !important;
    }
    &.place-right::before,
    &.place-left:before {
      border-color: transparent #d0d7de !important;
    }
  }
  &.dark {
    border: 1px solid #30363d !important;
    &.place-top::before,
    &.place-bottom:before {
      border-color: #30363d transparent !important;
    }
    &.place-right::before,
    &.place-left:before {
      border-color: transparent #30363d !important;
    }
  }
}

.chart-title {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}
