.hypertrons-crx-container {
  margin-top: 24px !important;
  overflow: auto;
  /* height: 520px; */
}

.hypertrons-crx-border {
  background-color: var(--color-canvas-default);
  border: 1px solid var(--color-border-default);
  border-radius: 6px;
}

.hypertrons-crx-title {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 35px;
  background-color: var(--color-canvas-subtle);
  border: 1px solid var(--color-border-default);
  border-bottom: 0;
  border-radius: 6px;
}
.color-text-secondary {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 10px;
}
@media screen and (max-width: 1120px) {
  .graph-container {
    width: 100% !important;
  }
  .description-container {
    width: 100% !important;
  }
  .color-text-secondary {
    margin-left: 5px;
    margin-top: 5px;
  }
}

.hypertrons-crx-title-extra {
  float: right;
  margin-right: 10px;
  text-align: right;
}

@media screen and (max-width: 650px) {
  .developer-tab {
    float: none;
  }
}

.verticalStackItemStyle {
  width: 50%;
  margin-left: 10px;
}

.verticalSeparatorStyle {
  margin-top: 25px;
  height: 332px;
}

.ms-Dialog-main {
  max-width: 100%;
  width: 60vw;
}

.floating-window {
  opacity: 1 !important;
  padding: 12px 4px 8px 4px !important;
  border-radius: 6px !important;

  &.light {
    border: 1px solid #d0d7de !important;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15) !important;
    &.place-top::before,
    &.place-bottom:before {
      border-color: #d0d7de transparent !important;
    }
    &.place-right::before,
    &.place-left:before {
      border-color: transparent #d0d7de !important;
    }
  }
  &.dark {
    border: 1px solid #30363d !important;
    &.place-top::before,
    &.place-bottom:before {
      border-color: #30363d transparent !important;
    }
    &.place-right::before,
    &.place-left:before {
      border-color: transparent #30363d !important;
    }
  }
}

.chart-title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.perceptor-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  font-weight: var(--base-text-weight-medium, 500);
  color: var(--button-default-fgColor-rest, var(--color-btn-text));
  background-color: var(--button-default-bgColor-rest, var(--color-btn-bg));
  border-color: var(--button-default-borderColor-rest, var(--color-btn-border));
  box-shadow: var(--button-default-shadow-resting, var(--color-btn-shadow)),
    var(--button-default-shadow-inset, var(--color-btn-inset-shadow));
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;
}
