/* GridLayout.css */

.grid-container {
  padding: 20px; /* Add padding to create space on the sides */
  max-width: 100%; /* Ensure the container's width does not exceed the viewport */
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-gap: 10px; /* Gap between grid items */
}

.grid-item {
  border: 1px solid #ddd;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px; /* Minimum height of a grid item */
  cursor: pointer;
  /*aspect-ratio: 1; !* 设置宽高比为1，保持正方形 *!*/
}

.size-1x2 {
  grid-column: span 2; /* Occupies 2 columns */
}
.size-2x2 {
  grid-column: span 2;
  grid-row: span 2;
}
.size-2x3 {
  grid-column: span 3;
  grid-row: span 2;
}
