.ReactModal__Overlay_Custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000; // to fix visible background issue
}

.ReactModal__Content_Custom {
  position: absolute;
  width: 60vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  box-sizing: border-box;
  box-shadow:
    rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px,
    rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
  outline: transparent solid 3px;
  border-radius: 2px;
  background: var(--bgColor-default, var(--color-canvas-default));
  color: var(--fgColor-default, var(--color-fg-default));
}
