.ant-color-picker-trigger {
  min-width: 10px !important;
  padding: 0 !important;
  margin-right: 4px;
  border: none !important;
}

.ant-color-picker-color-block {
  width: 10px !important;
  min-width: 10px !important;
  height: 10px !important;
}

.ant-color-picker-color-block-inner {
  width: 10px !important;
  min-width: 10px !important;
  height: 10px !important;
  border-radius: 3px !important;
}
