#details_table {
  width: 95%;
  margin: 10px;
  tr:nth-child(even) {
    background-color: #d6eeee;
  }
  th,
  td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
  }
}

#details_title {
  text-align: center;
  font-size: 12px;
}

.bordered {
  border: 2px solid grey;
}

#details_div {
  height: 250px;
}

.scrollit {
  overflow-x: hidden;
  overflow-y: auto;
}
