.container {
  width: 98vw;
  min-height: calc(100vh - 100px);
  margin-top: 10px;
  opacity: 1;
  background: white;
  box-shadow:
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px,
    rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
  transition: all 0.2s ease 0s;
  border-radius: 3px;
  overflow: hidden;
}

.Box {
  width: 75vw;
  min-width: 350px;
  max-width: 600px;
  background-color: white;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
}

.Box-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 25px;
  margin: -1px -1px 0;
  background-color: #242a2e;
  color: white;
  border: 1px solid #e1e4e8;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Box-header svg.tooltip-icon {
  margin-top: 4px;
}

.Box-title {
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
}

ul {
  padding: 0 25px;
}

li {
  padding: 5px 0;
  list-style-type: none;
}

a {
  color: blue;
}

.token-options {
  width: 75vw;
  min-width: 350px;
  max-width: 600px;
  background-color: white;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  margin-top: -10px;
}

.token-options .Box-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 25px;
  margin: -1px -1px 0;
  background-color: #242a2e;
  color: white;
  border: 1px solid #e1e4e8;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.token-options .Box-title {
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
}

.token-options p {
  padding: 0 25px;
}

.token-options input {
  width: calc(100% - 50px);
  padding: 8px;
  margin: 10px 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.token-options button {
  padding: 8px 16px;
  margin: 0 25px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.token-options button:hover {
  background-color: #0056b3;
}
