.hypertrons-crx-container {
  margin-top: 24px!important;
  overflow: auto;
  height: 396px;
}

.hypertrons-crx-border {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: 6px;
}

.hypertrons-crx-title {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  background-color: var(--color-bg-tertiary);
  border: 1px solid var(--color-border-primary);
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
}

.verticalStackItemStyle {
  width: 50%;
  margin-left: 10px;
} 

.verticalSeparatorStyle {
  margin-top: 25px;
  height: 332px;
}

