# build.yml checks, builds and bump a version on push
name: build

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  check-build-test:
      runs-on: ubuntu-latest
      steps:
        - name: Check out repository code
          uses: actions/checkout@v2

        - name: Setup Node.js
          uses: actions/setup-node@v3
          with:
            cache: "yarn"

        - name: install dependencies
          run: |
            yarn install

        - name: Format checks
          run: |
            yarn run prettier:check

        - name: Build
          run: |
            yarn run build

        # https://github.com/marketplace/actions/file-existence
        - name: Check file existence
          id: check_files
          uses: andstor/file-existence-action@v1
          with:
            files: "release/hypercrx.crx"
            allow_failure: true

        - name: File exists
          if: steps.check_files.outputs.files_exists == 'true'
          # Only runs if all of the files exists
          run: echo All files exists!

  bump-version:
    runs-on: ubuntu-latest
    needs: check-build-test
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
          
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.github_token }}
          skip-on-empty: 'false'
          output-file: 'CHANGELOG.md'
          pre-commit: scripts/pre-commit.js
