# This is a basic workflow to help you get started with Actions

name: pre-release

# Controls when the action will run. 
on:
  # Triggers the workflow on push but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  pre-release:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Build
        run: |
          yarn install
          npm run build
          zip release/hypertrons.zip -r build/*

      - name: Test output
        shell: pwsh
        run: Test-Path release/hypertrons.crx | Should -Be $true

      - name: Release the extension
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            release/hypertrons.crx
            release/hypertrons.zip

      - name: Update oss
        uses: tvrcgo/upload-to-oss@master
        with:
          key-id: ${{ secrets.accessKeyId }}
          key-secret: ${{ secrets.accessKeySecret }}
          region: ${{ secrets.region }}
          bucket: ${{ secrets.bucket }}
          asset-path: ./publish
          target-path: ${{ secrets.deployPath }}