# release.yml builds hypercrx, releases to the latest version 
# if a tag is given it creates a release and deploys to the production environment 
name: release

on:
  push:
    branches: 
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Build
        run: |
          yarn install
          yarn run build

      - name: zip hypercrx.zip
        run: zip release/hypercrx.zip -r build/*

      - name: Release pre-Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            release/hypercrx.crx
            release/hypercrx.zip

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          title: ${{ github.ref_name }}
          files: |
            release/hypercrx.crx
            release/hypercrx.zip

      - name: Upload and Deploy
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          yarn install --cwd ./scripts
          yarn run deploy
        env:
          EXTENSION_ID: ${{ secrets.EXTENSION_ID }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}


